{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %} {% endblock %}</title>
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <!-- favcon -->
  <link href="/static/img/logo.png" rel="icon">
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- boxicon -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- css -->
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <!--Datatables Library-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
  <!-- bootstrap js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <img src="{% static 'img/intelliserve.png'%}" alt="">
      </a>
      <i class='bx bx-menu toggle-sidebar-btn'></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bx bx-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bx bx-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bx bx-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'img/profile.png'%}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Admin</h6>
              <span>Admin</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class='bx bx-user'></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class='bx bx-log-out-circle'></i>
                <span>Sign Out</span>
              </a>
            </li>
          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->
      </ul>
    </nav><!-- End Icons Navigation -->
  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'pos:index'%}">
          <i class='bx bxs-dashboard'></i><span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <!-- Menu Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#menu-nav" href="{% url 'pos:menu' %}">
          <i class='bx bxs-food-menu'></i></i><span>Menu</span>
        </a>
      </li><!-- End Menu Nav -->
      <!-- End Menu Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'pos:order' %}">
          <i class='bx bx-cart-alt'></i><span>Orders</span>
          <span class="badge badge-number ms-auto bg-danger">1</span>
        </a>
      </li><!-- Order Nav -->



      <!-- Inventory Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#inventory-nav" data-bs-toggle="collapse" href="">
          <i class='bx bxs-package'></i><span>Inventory</span><i class='bx bx-chevron-down ms-auto'></i>
        </a>
        <ul id="inventory-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'pos:inventory' %}">
              <i class='bx bx-radio-circle'></i><span>Stocks</span>
              
            </a>
          </li>
        </ul>
      </li><!-- Inventory Nav end-->

      <!-- Sales Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#sales-nav" data-bs-toggle="collapse" href="#">
          <i class='bx bxs-bar-chart-alt-2'></i><span>Sales</span><i class='bx bx-chevron-down ms-auto'></i>
        </a>
        <ul id="sales-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'pos:sales' %}">
              <i class='bx bx-radio-circle'></i><span>Sales Report</span>
            </a>
          </li>
        </ul>
      </li><!-- sales Nav end-->

      <!-- POS Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#pos-nav" href="{% url 'pos:home' %}">
          <i class='bx-bar-chart'></i></i><span>POS</span>
        </a>
      </li><!-- POS end-->
    </ul>
  </aside><!-- End Sidebar-->


  <main id="main" class="main">
    {% block content %}
    
    {% endblock  %}
  </main>

 <!-- ======= Footer ======= -->
 <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>BevRecs 2020</span></strong>. All Rights Reserved
    </div>
  </footer><!-- End Footer -->

  <a href="#" 
   class="back-to-top d-flex align-items-center justify-content-center"><i class='bx bx-up-arrow-alt' ></i></a>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

  
<script>
  // add an event listener to each select element
  document.querySelectorAll('select').forEach(select => {
    // get the corresponding input element
    const input = document.getElementById(`inputquantityIng${select.id.slice(-1)}`);
    // add an event listener to the select element
    select.addEventListener('change', (event) => {
      // get the selected option
      const selectedOption = event.target.options[event.target.selectedIndex];
      // get the price from the data-price attribute of the selected option
      const price = selectedOption.getAttribute('data-price');
      // set the placeholder of the input element to the price
      input.placeholder = price;
      // require the input field if a stock name is selected
      input = !!selectedOption.value;
    });
  });
</script>

  
  
  <script>
    // function to update addon prices
    function updateAddonPrice(addonSelectID, addonPriceID) {
      // get selected option value and price data attribute
      var selectedOption = document.getElementById(addonSelectID).options[document.getElementById(addonSelectID).selectedIndex];
      var addonPrice = selectedOption.getAttribute('data-price');
      var addonName = selectedOption.innerText.trim(); // Get the text of the selected option
  
      // update price input value
      document.getElementById(addonPriceID).value = addonPrice;
  
      // enable/disable fields based on the selection
      var quantityField = document.getElementById('input' + addonPriceID.replace('menuAOPrice', 'quantityAO'));
      quantityField.placeholder = 'Quantity ' + (addonName ? addonName : 'AO');
      quantityField.required = !!addonName; // Require the field if a stock name is selected
  
      var priceField = document.getElementById(addonPriceID);
      priceField.required = !!addonName; // Require the field if a stock name is selected
    }
  
    // add onchange event listener to addon selects
    document.getElementById('inputAddOns1').addEventListener('change', function () {
      updateAddonPrice('inputAddOns1', 'menuAOPrice1');
    });
  
    document.getElementById('inputAddOns2').addEventListener('change', function () {
      updateAddonPrice('inputAddOns2', 'menuAOPrice2');
    });
  
    document.getElementById('inputAddOns3').addEventListener('change', function () {
      updateAddonPrice('inputAddOns3', 'menuAOPrice3');
    });
  
    document.getElementById('inputAddOns4').addEventListener('change', function () {
      updateAddonPrice('inputAddOns4', 'menuAOPrice4');
    });
  
    document.getElementById('inputAddOns5').addEventListener('change', function () {
      updateAddonPrice('inputAddOns5', 'menuAOPrice5');
    });
  </script>
  
  <script type="text/javascript" src="/static/js/virtual-select.min.js"></script>
  <script type="text/javascript">
    VirtualSelect.init({
      ele: '#multiSelect'
    });
  </script>

</body>
</html>