{% extends "base.html" %}
{% block title %}BevRecs | Menu {% endblock%}


{% block content %}
<div class="pagetitle">
  <h1>Menu</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="">Home</a></li>
      <li class="breadcrumb-item active">Menu</li>
    </ol>
  </nav>
</div><!-- End Page Title -->
<section class="section menu rounded">
  <div class="row">
    <!-- Left side columns -->
    <div class="category col-lg-12 p-2">
      <div class="d-flex justify-content-between">
        <h5 class="categories">Categories</h5>
        <div class="btn-category">
          <a class="btn btn-sm ms-auto" href="#" role="button" data-bs-toggle="modal"
            data-bs-target="#addcategorymodal">Add Category</a>

          <!-- Vertically centered Modal -->
          <div class="modal fade" id="addcategorymodal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Add Category</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                  <form action="{% url 'pos:add_menuCategory' %}" method="POST">
                    {% csrf_token %}
                    <div class="col-12">
                      <label for="addcategory">Choose category</label>
                      <select name="{{ menucategoryform.categorytype.name }}" id="inputCategoryName"
                        class="form-select">
                        {% for row in menucategoryform.categorytype %}
                        <option value="{{row.data.value}}">{{row.data.label}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-12">
                      <input name="{{ menucategoryform.name.name }}" type="text" class="form-control"
                        placeholder="Category Name" id="inputCategoryName">
                    </div>
                    <div class="text-center ms-auto">
                      <button type="submit" class="btn btn-primary">Add</button>
                      <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                  </form><!-- Vertical Form -->
                </div>
              </div>
            </div>
          </div><!-- End Vertically centered Modal-->

          <span>
            <button class="btn btn-sm ms-2" type="button" data-bs-toggle="modal"
              data-bs-target="#deletecategorymodal">Delete Category</button>

            <!-- Delete Category Modal -->
            <div class="modal fade" id="deletecategorymodal" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Delete Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'pos:delete_category' %}" method="POST">
                      {% csrf_token %}
                      <div class="col-12">
                        <label for="deletecategory">Choose category to delete</label>
                        <select name="category_id" class="form-select">
                          {% for category in menuCategory %}
                          <option value="{{ category.id }}">{{ category.name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-12 text-center mt-3">
                        <button type="submit" class="btn btn-danger">Delete</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div><!-- Delete Category Modal -->
          </span>

          <!-- Edit Category Modal -->
          <span>
            <a class="btn btn-sm ms-auto" href="#" role="button" data-bs-toggle="modal"
              data-bs-target="#editcategorymodal">Edit Category</a>
            <div class="modal fade" id="editcategorymodal" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Edit Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!--edit cateogrycode here++=================================================-->
                    <!-- add menu Form -->
                    <form action="{% url 'pos:edit_menuCategory' %}" method="POST">
                      {% csrf_token %}
                      <div class="col-12">
                        <label for="editcategory">Choose category</label>
                        <select name="category_id" class="form-select">
                          {% for category in menuCategory %}
                          <option value="{{ category.id }}">{{ category.name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-12">
                        <label for="categorytype">Change Type</label>
                        <select name="categorytype" class="form-select">
                          <option value="DRINKS">Drinks</option>
                          <option value="FOOD">Food</option>
                        </select>
                      </div>
                      <div class="col-12">
                        <label for="new_name">Rename</label>
                        <input type="text" name="new_name" placeholder="Category Name" class="form-control" required>
                      </div>
                      <div class="col-12 text-center d-grip gap-2">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div><!-- Edit Category Modal-->
          </span>
        </div>

      </div>

    </div>

    <div class="category col-lg-12 p-2">
      <div class="d-flex justify-content-between">
        <h5 class="categories">Menu</h5>
        <div class="row">
          <div class="col-12 btn-category">
            <!-- add menu button -->
            <a class="btn btn-sm ms-auto" href="#" role="button" data-bs-toggle="modal" data-bs-target="#addDrinks">Add
              Drinks</a>
            <a class="btn btn-sm ms-auto" href="#" role="button" data-bs-toggle="modal" data-bs-target="#addFood">Add
              Food</a>
            <!-- add menu button -->
            <!-- Add Menu Modal -->
            <div class="modal fade" id="addDrinks" tabindex="-1">
              <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Add Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body justify-content-center">
                    <!-- add menu Form -->
                    <form method="POST" enctype="multipart/form-data" action="{% url 'pos:add_menuDrinks' %}">
                      {% csrf_token %}

                      <div class="col-6">
                        <label>Categories</label>
                        <select name="{{ menudrinksform.menucategory.name }}" id="inputState" class="form-select">

                          {% for category in menuCategory %}
                          {%if category.categorytype == 'DRINKS'%}
                          <option value="{{ category.id }}">{{ category.name }}</option>
                          {%endif%}
                          {%endfor%}
                        </select>
                      </div>

                      <div class="col-12">
                        <label for="inputMenuImage" class="form-label">Menu Image</label>
                        <input type="file" name="{{ menudrinksform.menuimage.name }}" class="form-control"
                          id="inputMenuImage" required>
                      </div>

                      <div class="col-12">
                        <label for="inputMenuName" class="form-label">Menu</label>
                        <input type="text" name="{{ menudrinksform.menuname.name }}" placeholder="Menu Name"
                          class="form-control" id="inputMenuName" required>
                      </div>

                      <div class="col-12">
                        <label for="inputPrice" class="form-label">Price</label>
                        <input type="number" step="0.01" name="{{ menudrinksform.menuprice1.name }}" placeholder="Price"
                          class="form-control" id="inputPrice" required>
                      </div>

                      <div class="col-12">
                        <label for="inputPrice" class="form-label">Price</label>
                        <input type="number" step="0.01" name="{{ menudrinksform.menuprice2.name }}" placeholder="Price"
                          class="form-control" id="inputPrice">
                      </div>

                      <div class="col-12">
                        <label for="inputPrice" class="form-label">Price</label>
                        <input type="number" step="0.01" name="{{ menudrinksform.menuprice3.name }}" placeholder="Price"
                          class="form-control" id="inputPrice">
                      </div>

                      <div class="col-6">
                        <label name="{{ menudrinksform.hotAndCold.id_for_label }}">hot/cold</label>
                        {{ menudrinksform.hotAndCold }}
                      </div>
                      <br>
                      <div>
                        <h6>Does the drink contains Milk?</h6>
                        <label>
                          <input type="radio" name="milk" value="true">
                          Yes
                        </label>
                        <label>
                          <input type="radio" name="milk" value="false">
                          No
                        </label>
                      </div>
                      <br>

                      <div>
                        <h6>Does the drink have a high sugar level?</h6>
                        <label>
                          <input type="radio" name="sugar" value="true">
                          Yes
                        </label>
                        <label>
                          <input type="radio" name="sugar" value="false">
                          No
                        </label>
                      </div>
                      <br>

                      <div>
                        <h6>Does the drink have a high Caffeine level?</h6>
                        <label>
                          <input type="radio" name="coffee" value="true">
                          Yes
                        </label>
                        <label>
                          <input type="radio" name="coffee" value="false">
                          No
                        </label>
                      </div>
                      <br>

                      <div>
                        <h6>Does the drink consist Peanut?</h6>
                        <label>
                          <input type="radio" name="peanut" value="true">
                          Yes
                        </label>
                        <label>
                          <input type="radio" name="peanut" value="false">
                          No
                        </label>
                      </div>
                      <br>



                      <div class="col-6">
                        <label for="inputIngredientName1" class="form-label">Ingredient 1</label>
                        <select name="{{ menudrinksform.ingredient1.name }}" id="inputIngredientName1"
                          class="form-select mb-1">
                          <option value="">-- Select an ingredient --</option>
                          {% for ing in stocks %}
                          {% if ing.stockcategory == 'INGR' %}
                          <option value="{{ ing.id }}" data-price="{{ ing.stockprice }}">{{ ing.stockname }}
                          </option>
                          {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-3">
                        <input type="number" name="quantityIng1" placeholder="Quantity Ing1" class="form-control"
                          id="inputquantityIng1">
                      </div>

                      <div class="col-6">
                        <label for="inputIngredientName2" class="form-label">Ingredient 2</label>
                        <select name="{{ menudrinksform.ingredient2.name }}" id="inputIngredientName2"
                          class="form-select mb-1">
                          <option value="">-- Select an ingredient --</option>
                          {% for ing in stocks %}
                          {% if ing.stockcategory == 'INGR' %}
                          <option value="{{ ing.id }}" data-price="{{ ing.stockprice }}">{{ ing.stockname }}
                          </option>
                          {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-3">
                        <input type="number" name="quantityIng2" placeholder="Quantity Ing2" class="form-control"
                          id="inputquantityIng2">
                      </div>


                      <div class="col-6">
                        <label for="inputIngredientName3" class="form-label">Ingredient 3</label>
                        <select name="{{ menudrinksform.ingredient3.name }}" id="inputIngredientName3"
                          class="form-select mb-1">
                          <option value="">-- Select an ingredient --</option>
                          {% for ing in stocks %}
                          {% if ing.stockcategory == 'INGR' %}
                          <option value="{{ ing.id }}" data-price="{{ ing.stockprice }}">{{ ing.stockname }}
                          </option>
                          {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-3">
                        <input type="number" name="quantityIng3" placeholder="Quantity Ing3" class="form-control"
                          id="inputquantityIng3">
                      </div>

                      <div class="col-6">
                        <label for="inputIngredientName4" class="form-label">Ingredient 4</label>
                        <select name="{{ menudrinksform.ingredient4.name }}" id="inputIngredientName4"
                          class="form-select mb-1">
                          <option value="">-- Select an ingredient --</option>
                          {% for ing in stocks %}
                          {% if ing.stockcategory == 'INGR' %}
                          <option value="{{ ing.id }}" data-price="{{ ing.stockprice }}">{{ ing.stockname }}
                          </option>
                          {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-3">
                        <input type="number" name="quantityIng4" placeholder="Quantity Ing4" class="form-control"
                          id="inputquantityIng4">
                      </div>

                      <div class="col-6">
                        <label for="inputIngredientName5" class="form-label">Ingredient 5</label>
                        <select name="{{ menudrinksform.ingredient5.name }}" id="inputIngredientName5"
                          class="form-select mb-1">
                          <option value="">-- Select an ingredient --</option>
                          {% for ing in stocks %}
                          {% if ing.stockcategory == 'INGR' %}
                          <option value="{{ ing.id }}" data-price="{{ ing.stockprice }}">{{ ing.stockname }}
                          </option>
                          {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-3">
                        <input type="number" name="quantityIng5" placeholder="Quantity Ing5" class="form-control"
                          id="inputquantityIng5">
                      </div>


                      <div class="col-6">
                        <label for="inputAddOns1" class="form-label">Add ons</label>
                        <select name="{{ menudrinksform.addons1.name }}" id="inputAddOns1" class="form-select mb-1">
                          <option value="">-- Select an add on --</option>
                          {% for ao in stocks %}
                          {% if ao.stockcategory == "AO" %}
                          <option value="{{ ao.id }}" data-price="{{ ao.stockprice }}">{{ ao.stockname }}</option>
                          {% endif %}
                          {% endfor %}
                        </select>
                        <input step="0.01" placeholder="Php 00.00" name="{{ menudrinksform.menuAOPrice1.name }}"
                          id="menuAOPrice1" type="number">
                      </div>
                      <div class="col-3">
                        <input type="number" name="quantityAO1" placeholder="Quantity AO1" class="form-control"
                          id="inputquantityAO1">
                      </div>

                      <div class="col-6">
                        <label for="inputAddOns2" class="form-label">Add ons</label>
                        <select name="{{ menudrinksform.addons2.name }}" id="inputAddOns2" class="form-select mb-1">
                          <option value="">-- Select an add on --</option>
                          {% for ao in stocks %}
                          {% if ao.stockcategory == "AO" %}
                          <option value="{{ ao.id }}" data-price="{{ ao.stockprice }}">{{ ao.stockname }}</option>
                          {% endif %}
                          {% endfor %}
                        </select>
                        <input step="0.01" name="{{ menudrinksform.menuAOPrice2.name }}" id="menuAOPrice2"
                          placeholder="Php 00.00" type="number">
                      </div>
                      <div class="col-3">
                        <input type="number" name="quantityAO2" placeholder="Quantity AO2" class="form-control"
                          id="inputquantityAO2">
                      </div>

                      <div class="col-6">
                        <label for="inputAddOns3" class="form-label">Add ons</label>
                        <select name="{{ menudrinksform.addons3.name }}" id="inputAddOns3" class="form-select mb-1">
                          <option value="">-- Select an add on --</option>
                          {% for ao in stocks %}
                          {% if ao.stockcategory == "AO" %}
                          <option value="{{ ao.id }}" data-price="{{ ao.stockprice }}">{{ ao.stockname }}</option>
                          {% endif %}
                          {% endfor %}
                        </select>
                        <input step="0.01" name="{{ menudrinksform.menuAOPrice3.name }}" id="menuAOPrice3"
                          placeholder="Php 00.00" type="number">
                      </div>
                      <div class="col-3">
                        <input type="number" name="quantityAO3" placeholder="Quantity AO3" class="form-control"
                          id="inputquantityAO3">
                      </div>

                      <div class="col-6">
                        <label for="inputAddOns4" class="form-label">Add ons</label>
                        <select name="{{ menudrinksform.addons4.name }}" id="inputAddOns4" class="form-select mb-1">
                          <option value="">-- Select an add on --</option>
                          {% for ao in stocks %}
                          {% if ao.stockcategory == "AO" %}
                          <option value="{{ ao.id }}" data-price="{{ ao.stockprice }}">{{ ao.stockname }}</option>
                          {% endif %}
                          {% endfor %}
                        </select>
                        <input step="0.01" name="{{ menudrinksform.menuAOPrice4.name }}" placeholder="Php 00.00"
                          id="menuAOPrice4" type="number">
                      </div>
                      <div class="col-3">
                        <input type="number" name="quantityAO4" placeholder="Quantity AO4" class="form-control"
                          id="inputquantityAO4">
                      </div>

                      <div class="col-6">
                        <label for="inputAddOns5" class="form-label">Add ons</label>
                        <select name="{{ menudrinksform.addons5.name }}" id="inputAddOns5" class="form-select mb-1">
                          <option value="">-- Select an add on --</option>
                          {% for ao in stocks %}
                          {% if ao.stockcategory == "AO" %}
                          <option value="{{ ao.id }}" data-price="{{ ao.stockprice }}">{{ ao.stockname }}</option>
                          {% endif %}
                          {% endfor %}
                        </select>
                        <input step="0.01" name="{{ menudrinksform.menuAOPrice5.name }}" placeholder="Php 00.00"
                          id="menuAOPrice5" type="number">
                      </div>
                      <div class="col-3">
                        <input type="number" name="quantityAO5" placeholder="Quantity AO5" class="form-control"
                          id="inputquantityAO5">
                      </div>


                      <div class="text-center d-grip gap-2">
                        <button type="submit" class="btn px-4">Add</button>
                        <button type="reset" class="btn px-4">Reset</button>
                      </div>
                    </form><!-- Vertical Form -->

                  </div>
                </div>
              </div>
            </div><!-- End Vertically centered Modal-->

            <div class="modal fade" id="addFood" tabindex="-1">
              <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Add Food</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body justify-content-center">
                    <!-- add menu Form -->
                    <form method="POST" enctype="multipart/form-data" action="{% url 'pos:add_menuDrinks' %}">
                      {% csrf_token %}

                      <div class="col-6">
                        <label>Categories</label>
                        <select name="{{ menudrinksform.menucategory.name }}" id="inputState" class="form-select">

                          {% for category in menuCategory %}
                          {%if category.categorytype == 'FOOD'%}
                          <option value="{{ category.id }}">{{ category.name }}</option>
                          {%endif%}
                          {%endfor%}
                        </select>
                      </div>

                      <div class="col-12">
                        <label for="inputMenuImage" class="form-label">Menu Image</label>
                        <input type="file" name="{{ menudrinksform.menuimage.name }}" class="form-control"
                          id="inputMenuImage" required>
                      </div>

                      <div class="col-12">
                        <label for="inputMenuName" class="form-label">Menu</label>
                        <input type="text" name="{{ menudrinksform.menuname.name }}" placeholder="Menu Name"
                          class="form-control" id="inputMenuName" required>
                      </div>

                      <div class="col-12">
                        <label for="inputPrice" class="form-label">Price</label>
                        <input type="number" step="0.01" name="{{ menudrinksform.menuprice1.name }}" placeholder="Price"
                          class="form-control" id="inputPrice" required>
                      </div>

                  </div>

                  <br>

                  <div>
                    <h6>Does the Food contains Gluten, Dairy, or Soy?</h6>
                    <label>
                      <input type="radio" name="allergen" value="true">
                      Yes
                    </label>
                    <label>
                      <input type="radio" name="allergen" value="false">
                      No
                    </label>
                  </div>
                  <br>

                  <div>
                    <h6>Does the food have a high calory level?</h6>
                    <label>
                      <input type="radio" name="sugar" value="true">
                      Yes
                    </label>
                    <label>
                      <input type="radio" name="sugar" value="false">
                      No
                    </label>
                  </div>
                  <br>

                  <div>
                    <h6>Will the food be eaten raw?</h6>
                    <label>
                      <input type="radio" name="coffee" value="true">
                      Yes
                    </label>
                    <label>
                      <input type="radio" name="coffee" value="false">
                      No
                    </label>
                  </div>
                  <br>


                  <div class="col-6">
                    <label for="inputIngredientName1" class="form-label">Ingredient 1</label>
                    <select name="{{ menudrinksform.ingredient1.name }}" id="inputIngredientName1"
                      class="form-select mb-1">
                      <option value="">-- Select an ingredient --</option>
                      {% for ing in stocks %}
                      {% if ing.stockcategory == 'INGR' %}
                      <option value="{{ ing.id }}" data-price="{{ ing.stockprice }}">{{ ing.stockname }}
                      </option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-3">
                    <input type="number" name="quantityIng1" placeholder="Quantity Ing1" class="form-control"
                      id="inputquantityIng1">
                  </div>


                  <div class="col-6">
                    <label for="inputIngredientName2" class="form-label">Ingredient 2</label>
                    <select name="{{ menudrinksform.ingredient2.name }}" id="inputIngredientName2"
                      class="form-select mb-1">
                      <option value="">-- Select an ingredient --</option>
                      {% for ing in stocks %}
                      {% if ing.stockcategory == 'INGR' %}
                      <option value="{{ ing.id }}" data-price="{{ ing.stockprice }}">{{ ing.stockname }}
                      </option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-3">
                    <input type="number" name="quantityIng2" placeholder="Quantity Ing2" class="form-control"
                      id="inputquantityIng2">
                  </div>


                  <div class="col-6">
                    <label for="inputIngredientName3" class="form-label">Ingredient 3</label>
                    <select name="{{ menudrinksform.ingredient3.name }}" id="inputIngredientName3"
                      class="form-select mb-1">
                      <option value="">-- Select an ingredient --</option>
                      {% for ing in stocks %}
                      {% if ing.stockcategory == 'INGR' %}
                      <option value="{{ ing.id }}" data-price="{{ ing.stockprice }}">{{ ing.stockname }}
                      </option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-3">
                    <input type="number" name="quantityIng3" placeholder="Quantity Ing3" class="form-control"
                      id="inputquantityIng3">
                  </div>

                  <div class="col-6">
                    <label for="inputIngredientName4" class="form-label">Ingredient 4</label>
                    <select name="{{ menudrinksform.ingredient4.name }}" id="inputIngredientName4"
                      class="form-select mb-1">
                      <option value="">-- Select an ingredient --</option>
                      {% for ing in stocks %}
                      {% if ing.stockcategory == 'INGR' %}
                      <option value="{{ ing.id }}" data-price="{{ ing.stockprice }}">{{ ing.stockname }}
                      </option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-3">
                    <input type="number" name="quantityIng4" placeholder="Quantity Ing4" class="form-control"
                      id="inputquantityIng4">
                  </div>

                  <div class="col-6">
                    <label for="inputIngredientName5" class="form-label">Ingredient 5</label>
                    <select name="{{ menudrinksform.ingredient5.name }}" id="inputIngredientName5"
                      class="form-select mb-1">
                      <option value="">-- Select an ingredient --</option>
                      {% for ing in stocks %}
                      {% if ing.stockcategory == 'INGR' %}
                      <option value="{{ ing.id }}" data-price="{{ ing.stockprice }}">{{ ing.stockname }}
                      </option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-3">
                    <input type="number" name="quantityIng5" placeholder="Quantity Ing5" class="form-control"
                      id="inputquantityIng5">
                  </div>

                  <div class="col-6">
                    <label for="inputIngredientName5" class="form-label">Ingredient 6</label>
                    <select name="{{ menudrinksform.ingredient6.name }}" id="inputIngredientName6"
                      class="form-select mb-1">
                      <option value="">-- Select an ingredient --</option>
                      {% for ing in stocks %}
                      {% if ing.stockcategory == 'INGR' %}
                      <option value="{{ ing.id }}" data-price="{{ ing.stockprice }}">{{ ing.stockname }}
                      </option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-3">
                    <input type="number" name="quantityIng6" placeholder="Quantity Ing6" class="form-control"
                      id="inputquantityIng6">
                  </div>

                  <div class="col-6">
                    <label for="inputIngredientName7" class="form-label">Ingredient 7</label>
                    <select name="{{ menudrinksform.ingredient7.name }}" id="inputIngredientName7"
                      class="form-select mb-1">
                      <option value="">-- Select an ingredient --</option>
                      {% for ing in stocks %}
                      {% if ing.stockcategory == 'INGR' %}
                      <option value="{{ ing.id }}" data-price="{{ ing.stockprice }}">{{ ing.stockname }}
                      </option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-3">
                    <input type="number" name="quantityIng7" placeholder="Quantity Ing7" class="form-control"
                      id="inputquantityIng7">
                  </div>

                  <div class="col-6">
                    <label for="inputIngredientName8" class="form-label">Ingredient 5</label>
                    <select name="{{ menudrinksform.ingredient8.name }}" id="inputIngredientName8"
                      class="form-select mb-1">
                      <option value="">-- Select an ingredient --</option>
                      {% for ing in stocks %}
                      {% if ing.stockcategory == 'INGR' %}
                      <option value="{{ ing.id }}" data-price="{{ ing.stockprice }}">{{ ing.stockname }}
                      </option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-3">
                    <input type="number" name="quantityIng8" placeholder="Quantity Ing8" class="form-control"
                      id="inputquantityIng8">
                  </div>

                  <div class="col-6">
                    <label for="inputIngredientName9" class="form-label">Ingredient 9</label>
                    <select name="{{ menudrinksform.ingredient9.name }}" id="inputIngredientName9"
                      class="form-select mb-1">
                      <option value="">-- Select an ingredient --</option>
                      {% for ing in stocks %}
                      {% if ing.stockcategory == 'INGR' %}
                      <option value="{{ ing.id }}" data-price="{{ ing.stockprice }}">{{ ing.stockname }}
                      </option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-3">
                    <input type="number" name="quantityIng9" placeholder="Quantity Ing9" class="form-control"
                      id="inputquantityIng9">
                  </div>

                  <div class="col-6">
                    <label for="inputIngredientName5" class="form-label">Ingredient 10</label>
                    <select name="{{ menudrinksform.ingredient10.name }}" id="inputIngredientName10"
                      class="form-select mb-1">
                      <option value="">-- Select an ingredient --</option>
                      {% for ing in stocks %}
                      {% if ing.stockcategory == 'INGR' %}
                      <option value="{{ ing.id }}" data-price="{{ ing.stockprice }}">{{ ing.stockname }}
                      </option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-3">
                    <input type="number" name="quantityIng10" placeholder="Quantity Ing10" class="form-control"
                      id="inputquantityIng10">
                  </div>

                  <div class="col-6">
                    <label for="inputAddOns1" class="form-label">Add ons</label>
                    <select name="{{ menudrinksform.addons1.name }}" id="inputAddOns1" class="form-select mb-1">
                      <option value="">-- Select an add on --</option>
                      {% for ao in stocks %}
                      {% if ao.stockcategory == "AO" %}
                      <option value="{{ ao.id }}" data-price="{{ ao.stockprice }}">{{ ao.stockname }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                    <input step="0.01" placeholder="Php 00.00" name="{{ menudrinksform.menuAOPrice1.name }}"
                      id="menuAOPrice1" type="number">
                  </div>
                  <div class="col-3">
                    <input type="number" name="quantityAO1" placeholder="Quantity AO1" class="form-control"
                      id="inputquantityAO1">
                  </div>

                  <div class="col-6">
                    <label for="inputAddOns2" class="form-label">Add ons</label>
                    <select name="{{ menudrinksform.addons2.name }}" id="inputAddOns2" class="form-select mb-1">
                      <option value="">-- Select an add on --</option>
                      {% for ao in stocks %}
                      {% if ao.stockcategory == "AO" %}
                      <option value="{{ ao.id }}" data-price="{{ ao.stockprice }}">{{ ao.stockname }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                    <input step="0.01" name="{{ menudrinksform.menuAOPrice2.name }}" id="menuAOPrice2"
                      placeholder="Php 00.00" type="number">
                  </div>
                  <div class="col-3">
                    <input type="number" name="quantityAO2" placeholder="Quantity AO2" class="form-control"
                      id="inputquantityAO2">
                  </div>

                  <div class="col-6">
                    <label for="inputAddOns3" class="form-label">Add ons</label>
                    <select name="{{ menudrinksform.addons3.name }}" id="inputAddOns3" class="form-select mb-1">
                      <option value="">-- Select an add on --</option>
                      {% for ao in stocks %}
                      {% if ao.stockcategory == "AO" %}
                      <option value="{{ ao.id }}" data-price="{{ ao.stockprice }}">{{ ao.stockname }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                    <input step="0.01" name="{{ menudrinksform.menuAOPrice3.name }}" id="menuAOPrice3"
                      placeholder="Php 00.00" type="number">
                  </div>
                  <div class="col-3">
                    <input type="number" name="quantityAO3" placeholder="Quantity AO3" class="form-control"
                      id="inputquantityAO3">
                  </div>

                  <div class="col-6">
                    <label for="inputAddOns4" class="form-label">Add ons</label>
                    <select name="{{ menudrinksform.addons4.name }}" id="inputAddOns4" class="form-select mb-1">
                      <option value="">-- Select an add on --</option>
                      {% for ao in stocks %}
                      {% if ao.stockcategory == "AO" %}
                      <option value="{{ ao.id }}" data-price="{{ ao.stockprice }}">{{ ao.stockname }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                    <input step="0.01" name="{{ menudrinksform.menuAOPrice4.name }}" placeholder="Php 00.00"
                      id="menuAOPrice4" type="number">
                  </div>
                  <div class="col-3">
                    <input type="number" name="quantityAO4" placeholder="Quantity AO4" class="form-control"
                      id="inputquantityAO4">
                  </div>

                  <div class="col-6">
                    <label for="inputAddOns5" class="form-label">Add ons</label>
                    <select name="{{ menudrinksform.addons5.name }}" id="inputAddOns5" class="form-select mb-1">
                      <option value="">-- Select an add on --</option>
                      {% for ao in stocks %}
                      {% if ao.stockcategory == "AO" %}
                      <option value="{{ ao.id }}" data-price="{{ ao.stockprice }}">{{ ao.stockname }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                    <input step="0.01" name="{{ menudrinksform.menuAOPrice5.name }}" placeholder="Php 00.00"
                      id="menuAOPrice5" type="number">
                  </div>
                  <div class="col-3">
                    <input type="number" name="quantityAO5" placeholder="Quantity AO5" class="form-control"
                      id="inputquantityAO5">
                  </div>


                  <div class="text-center d-grip gap-2">
                    <button type="submit" class="btn px-4">Add</button>
                    <button type="reset" class="btn px-4">Reset</button>
                  </div>
                  </form><!-- Vertical Form -->

                </div>
              </div>
            </div>
          </div><!-- End Vertically centered Modal-->
        </div>
      </div>
    </div>


    <!---->
    <h5>DRINKS</h5>
    <div class="menu-grid mt-2">
      <ul class="nav nav-pills">
        {% for categories in menuCategory %}
        {%if categories.categorytype == 'DRINKS'%}
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#{{categories.name|slugify}}">
            <i class='bx bxs-coffee-alt justify-content-center p-1'></i>
            <span>{{categories.name}}</span>
          </a>
        </li>
        {%endif%}
        {% endfor %}
      </ul>

      <!-- Tab panes -->
      <div class="tab-content mt-4">
        {% for categories in menuCategory %}
        {%if categories.categorytype == 'DRINKS'%}
        <!-- Coffeee or Category 1 pane -->
        <div class="tab-pane container{% if forloop.first %} active{% endif %} fs-5" id="{{ categories.name|slugify }}">
          <div class="d-flex justify-content-between mb-2">
            <h5 class="categories">{{categories.name}}</h5>
          </div>
          <!-- list of menu -->
          <div class="row row-cols-4 gy-2">
            {% for data in categories.menudrinks_set.all %}
            <div class="col">
              <!-- Card with an image on top -->
              <div class="card menu-item-card">
                <img src="{{data.menuimage.url}}" class="card-img-top">
                <div class="card-body">

                  <h5 class="card-title">{{data.menuname}}</h5>
                  <div class="d-flex">

                    <p class="card-text">&#8369 {{data.menuprice1}}</p>
                  </div>

                  <div class="text-center d-grip gap-2">


                    <div class="text-center d-grip gap-2">
                      <form method="POST" action="{% url 'pos:delete_menu' data.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm bg-danger">Delete</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div><!-- End Card with an image on top -->
            </div>
            {% endfor %}
          </div>
        </div>
        {%endif%}
        {% endfor %}
      </div>
    </div>
  </div>
  </div>
</section>

<h5>FOODS</h5>
<div class="menu-grid mt-2">
  <ul class="nav nav-pills">
    {% for categories in menuCategory %}
    {%if categories.categorytype == 'FOOD'%}
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#{{categories.name|slugify}}">
        <i class='bx bxs-coffee-alt justify-content-center p-1'></i>
        <span>{{categories.name}}</span>
      </a>
    </li>
    {%endif%}
    {% endfor %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content mt-4">
    {% for categories in menuCategory %}
    {%if categories.categorytype == 'FOOD'%}
    <!-- Coffeee or Category 1 pane -->
    <div class="tab-pane container{% if forloop.first %} active{% endif %} fs-5" id="{{ categories.name|slugify }}">
      <div class="d-flex justify-content-between mb-2">
        <h5 class="categories">{{categories.name}}</h5>
      </div>
      <!-- list of menu -->
      <div class="row row-cols-4 gy-2">
        {% for data in categories.menudrinks_set.all %}
        <div class="col">
          <!-- Card with an image on top -->
          <div class="card menu-item-card">
            <img src="{{data.menuimage.url}}" class="card-img-top">
            <div class="card-body">

              <h5 class="card-title">{{data.menuname}}</h5>
              <div class="d-flex">

                <p class="card-text">&#8369 {{data.menuprice1}}</p>
              </div>

              <div class="text-center d-grip gap-2">


                <div class="text-center d-grip gap-2">
                  <form method="POST" action="{% url 'pos:delete_menu' data.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm bg-danger">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div><!-- End Card with an image on top -->
        </div>
        {% endfor %}
      </div>
    </div>
    {%endif%}
    {% endfor %}
  </div>
</div>
{% endblock content %}