<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- favcon -->
    <link href="/static/img/logo.png" rel="icon">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <!-- boxicon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- css -->
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/virtual-select.min.css">
    <!-- bootstrap js -->
    <script defer src="/static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.2/js/bootstrap-multiselect.min.js" integrity="sha512-lxQ4VnKKW7foGFV6L9zlSe+6QppP9B2t+tMMaV4s4iqAv4iHIyXED7O+fke1VeLNaRdoVkVt8Hw/jmZ+XocsXQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- main js -->
    <script src="/static/js/main.js"></script>

    <title>BevRecs-WELCOME</title>
</head>
<body >
    <div class="container-fluid h-75 bg-white">
        <div class="row">
            <div class="col-6">
                <h1 class="text-justify welcome">Welcome to <br> BevRecs</h1>
            </div>
        </div>
    </div>

     <!-- ======= Footer ======= -->
   <footer id="footer" class="footer position-sticky bottom-0">
    <div class="text-center">
        <a href="#">Click here to continue <span><i class='bx bx-right-arrow-alt'></i></span></a>
    </div>
  </footer><!-- End Footer -->
</body>
</html>